<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Nodejs y MondoDb</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/assets/styles.css" type="text/css">
    <script src="/public/stopwatch.js"></script>
</head>

<body>
    
    <nav class="navbar">
      <div class="contain-in mx-auto d-flex justify-content-between">
        <div class="d-flex logo-slogan-text">
          <a class="" href="/home">
            <img class="logo-image" src="/public/assets/leetgame-logo.png" alt="Logo de LeetGame">
          </a>
          <div class="align-self-center ml-3">
            Manage your fun
          </div>
        </div>
        <!-- <div class="user-details d-flex  px-2">
          
          <div class="d-flex flex-column">
            <div class="align-self-center text-white">
              Playing
            </div>
            <div class="align-self-center logo-slogan-text">
              5
            </div>
            <div class="align-self-center text-white">
              Games
            </div>
          </div>
          

        </div> -->
        
      </div>
    </nav>